.button {
    z-index: 1000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-flex;
    height: 50px;
    width: 100px;
    border: 2px solid #30d5c8;
    margin: 20px 0px 0px 20px;
    color: #30d5c8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}
a {
    position: relative;
    transition: all .45s ease-Out;
    color: #30d5c8;
    font-weight: bold;
    font-size: 14px;
    font-family: monospace;
    text-decoration: none;
    letter-spacing: 1px;
}
.button:hover #circle {
    width: 200%;
    height: 200%;
    opacity: 1;
    top: -25px;
    left: -50px;
}
.button:hover a {
    color: #1D1D1D;
    font-weight: bold;
    font-size: 14px;
    font-family: monospace;
}



.button-delete {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-flex;
    height: 20px;
    width: 20px;
    border: 1px solid #d3d3d3;
    content: "\00d7";
    opacity: 0.2;
    transition: opacity ease 0.5s;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.button-delete:hover{
    opacity: 1;
}
.button-delete:before, .button-delete:after{
    content: ' ';
    position: absolute;
    vertical-align: middle;
	display: flex;
	width: 10px;
	height: 2px;
	background: #000;
}
.button-delete:after{
    transform: rotate(45deg);
}
.button-delete:before{
    transform: rotate(-45deg);  
}



.button-control{
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    height: 50px;
    width: 50px;
    border: 2px solid #30d5c8;
    color: #30d5c8;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
}
.button-control:hover #circle-control {
    width: 200%;
    height: 200%;
    opacity: 1;
    top: -25px;
    left: -25px;
}
.eye-icon{
    z-index: 1001;
    transition: all 0.5s ease-Out;
    color: #30d5c8;
}
.button-control:hover .eye-icon{
    color: #1D1D1D;
}
#button-hide{
    top: 20px;
    right: 20px;
}